body {
    background: #d9bfb5;
    font-family: calibri;
    font-size: 14px;
    color: white;
    position: fixed;
    color: #232653;
    margin: 2% 25% 2%;
    border: solid 5px #909cc4;
    padding: 0%;
       /*shadow credit: https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 #696969, 0 6px 15px 0 #696969;
}

main {
    text-align: justify;
    background: #ffffff;
    padding: 1% 5% 2%;
    margin: 0% 0% 0%;
}

ul > li {
    margin: 0% 15% 0% 20%;
}

li span {
    position: relative;
    left: 5%;
}

/* credit for columns: https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css */
ol {
    -webkit-columns: 5;
        -moz-columns: 5;
            columns: 5;
    padding-left: 0;
    font-size: 12px;
}

h1 {
    text-align: center;
    background: #ffffff;
    color: #909cc4;
    overflow: auto;
    display: block;
    margin: 0%;
    padding: 2% 0% 0%;
    font-family: Knewave;
    font-size: 300%; 
}

h1 > a {
    text-decoration: none;
    background: #ffffff;
    color: #909cc4;
    text-shadow: 0px 0px 2px #696969;
}

strong {
    color: #8479a1;
}

#box {
    overflow-y: auto;
    min-width: 200px;
    height: 150px;
    direction: ltr;
    text-align: left;
    background: #ffffff;
    padding: 2% 2% 2%;
    margin: 0% 0% 0%;
    border: solid 1px#909cc4;
}

footer {
    font-size: 12px;
    font-family: calibri;
    color: #232653;
    background: #fff;
    margin: 0%;
    padding: 0% 0% 2%;
    overflow: auto;
    text-align: center;
}